<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.healthmanager.manage.mapper.FitnessPlanDetailMapper">
    
    <resultMap type="FitnessPlanDetail" id="FitnessPlanDetailResult">
        <result property="detailId"    column="detail_id"    />
        <result property="planId"    column="plan_id"    />
        <result property="exerciseId"    column="exercise_id"    />
        <result property="duration"    column="duration"    />
        <result property="intensity"    column="intensity"    />
    </resultMap>

    <sql id="selectFitnessPlanDetailVo">
        select detail_id, plan_id, exercise_id, duration, intensity from health_fitness_plan_detail
    </sql>

    <select id="selectFitnessPlanDetailList" parameterType="FitnessPlanDetail" resultMap="FitnessPlanDetailResult">
        <include refid="selectFitnessPlanDetailVo"/>
        <where>  
            <if test="planId != null "> and plan_id = #{planId}</if>
            <if test="exerciseId != null "> and exercise_id = #{exerciseId}</if>
            <if test="duration != null "> and duration = #{duration}</if>
            <if test="intensity != null  and intensity != ''"> and intensity = #{intensity}</if>
        </where>
    </select>
    
    <select id="selectFitnessPlanDetailByDetailId" parameterType="Long" resultMap="FitnessPlanDetailResult">
        <include refid="selectFitnessPlanDetailVo"/>
        where detail_id = #{detailId}
    </select>

    <insert id="insertFitnessPlanDetail" parameterType="FitnessPlanDetail" useGeneratedKeys="true" keyProperty="detailId">
        insert into health_fitness_plan_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="planId != null">plan_id,</if>
            <if test="exerciseId != null">exercise_id,</if>
            <if test="duration != null">duration,</if>
            <if test="intensity != null and intensity != ''">intensity,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="planId != null">#{planId},</if>
            <if test="exerciseId != null">#{exerciseId},</if>
            <if test="duration != null">#{duration},</if>
            <if test="intensity != null and intensity != ''">#{intensity},</if>
         </trim>
    </insert>

    <update id="updateFitnessPlanDetail" parameterType="FitnessPlanDetail">
        update health_fitness_plan_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="planId != null">plan_id = #{planId},</if>
            <if test="exerciseId != null">exercise_id = #{exerciseId},</if>
            <if test="duration != null">duration = #{duration},</if>
            <if test="intensity != null and intensity != ''">intensity = #{intensity},</if>
        </trim>
        where detail_id = #{detailId}
    </update>

    <delete id="deleteFitnessPlanDetailByDetailId" parameterType="Long">
        delete from health_fitness_plan_detail where detail_id = #{detailId}
    </delete>

    <delete id="deleteFitnessPlanDetailByDetailIds" parameterType="String">
        delete from health_fitness_plan_detail where detail_id in 
        <foreach item="detailId" collection="array" open="(" separator="," close=")">
            #{detailId}
        </foreach>
    </delete>
</mapper>