<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.healthmanager.manage.mapper.MedicalAppointmentMapper">
    
    <resultMap type="MedicalAppointment" id="MedicalAppointmentResult">
        <result property="appointmentId"    column="appointment_id"    />
        <result property="userId"    column="user_id"    />
        <result property="doctorId"    column="doctor_id"    />
        <result property="scheduleId"    column="schedule_id"    />
        <result property="description"    column="description"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectMedicalAppointmentVo">
        select appointment_id, user_id, doctor_id, schedule_id, description, status, create_time, update_time from health_medical_appointment
    </sql>

    <select id="selectMedicalAppointmentList" parameterType="MedicalAppointment" resultMap="MedicalAppointmentResult">
        <include refid="selectMedicalAppointmentVo"/>
        <where>  
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectMedicalAppointmentByAppointmentId" parameterType="Long" resultMap="MedicalAppointmentResult">
        <include refid="selectMedicalAppointmentVo"/>
        where appointment_id = #{appointmentId}
    </select>

    <insert id="insertMedicalAppointment" parameterType="MedicalAppointment" useGeneratedKeys="true" keyProperty="appointmentId">
        insert into health_medical_appointment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="doctorId != null">doctor_id,</if>
            <if test="scheduleId != null">schedule_id,</if>
            <if test="description != null">description,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="doctorId != null">#{doctorId},</if>
            <if test="scheduleId != null">#{scheduleId},</if>
            <if test="description != null">#{description},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateMedicalAppointment" parameterType="MedicalAppointment">
        update health_medical_appointment
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="doctorId != null">doctor_id = #{doctorId},</if>
            <if test="scheduleId != null">schedule_id = #{scheduleId},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where appointment_id = #{appointmentId}
    </update>

    <delete id="deleteMedicalAppointmentByAppointmentId" parameterType="Long">
        delete from health_medical_appointment where appointment_id = #{appointmentId}
    </delete>

    <delete id="deleteMedicalAppointmentByAppointmentIds" parameterType="String">
        delete from health_medical_appointment where appointment_id in 
        <foreach item="appointmentId" collection="array" open="(" separator="," close=")">
            #{appointmentId}
        </foreach>
    </delete>
</mapper>